/*General CSS SANTILLANA CHILE*/

.body_clase .content-wrapper {
	padding-top: 65px;
	padding-bottom: 0px;
}

.body_clase.edit .content-wrapper {
	padding-top: 0;
	top: 0px;
}

.html-book {
	font-size: 1.9rem;
}

.libro .footer .powered,
.libro .footer .legal-notes,
.libro .footer .about-us,
.libro .footer .contact-us,
.libro .footer .faq {
	display: none;
}

.content_type_clase_santillana_demo #actividad {
	margin-bottom: 0px;
	-webkit-transform: none;
	-webkit-transform-style: flat;
}

.content_type_clase_santillana_demo .slide-wrapper {
	text-align: justify;
}

#actividad .carousel-inner .item-container {
	background-image: none;
	max-width: 1200px;
	box-shadow: rgba(0,0,0,0.298039) 0 0px 0px;
	margin: 20px auto 30px;
	padding: 0px;
	padding-bottom: 90px;
	position: relative;
}

#swipeview-slider > div {
	background-color: #fff;
}

a {
    text-decoration: none;
    color: #757575;
}

a:hover, a:active, a:focus {
    color: #008000;
}

.zoom_flag_img {
    top: 20px;
}
/*HEADER*/

#indice .unit-content .header .title {
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: 700;
    padding: 4px 10px 6px 10px;
    height: auto;
    border-radius: 10px;
    background-color: #262e2a8f;
    margin: 20px 140px 20px 30px;
}


.content_type_clase_santillana_demo #actividad .content .header .title img,
.content_type_clase_santillana_demo #actividad .content .header .chapter {
	display: none;
}

.content_type_clase_santillana_demo #actividad .content .header {
	border: none;
}

.content_type_clase_santillana_demo #actividad .content .header .title h3 {
	display: none;
}

input, button, select, textarea {
	padding-left: 0;
	padding-bottom: 0px;
}

.santillana_demo-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}

/**/

.content_type_clase_santillana_demo #actividad .texto_curso {
	font-size: 1.8rem;
}

.content_type_clase_santillana_demo #actividad .texto_curso li,
.content_type_clase_santillana_demo #actividad .workspace ul li li {
	margin-bottom: 10px;
}

.content_type_clase_santillana_demo #actividad .texto_curso li:last-of-type,
.content_type_clase_santillana_demo #actividad .workspace ul li li:last-of-type {
	margin-bottom: 0px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before, .preview ul li:before,
.classify-item ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.matching .box ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before {
    background-color: #AC218F;
    border-radius: 0%;
}

#actividad .class_slide {
	padding: 80px 97px 0px;
}

body.is_app #actividad .class_slide {
	padding-top: 115px;
}

#actividad .class_slide:last-of-type {
    padding-bottom: 100px;
}

#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
}

#actividad .slide-concatenate:last-of-type .class_slide {
    padding-bottom: 100px;
}

#actividad .content .header .title {
	min-height: 0px;
}

.content_type_clase_santillana_demo .slide_main input {
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.content_type_clase_santillana_demo .slide_main input:focus,
.content_type_clase_santillana_demo .slide_main .form-control:focus {
	border-color: #9664AB;
	outline-width: 0px;
	outline-style: none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
}

.content_type_clase_santillana_demo .slide_main input[disabled],
.content_type_clase_santillana_demo .slide_main input[readonly],
fieldset[disabled] .content_type_clase_santillana_demo .slide_main input {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.content_type_clase_santillana_demo .slide_main input.respuesta_ok {
	border-color: #57e900;
	background: #D1F3BD;
}

.content_type_clase_santillana_demo .slide_main input.respuesta_ko {
	border-color: #FF3626;
	background: #FFA49D;
}

.content_type_clase_santillana_demo .slide_main input.solucion {
	border-color: #00BDFF;
	background: #B6ECFF;
}
/**/

/* CURSO */

#indice .unit-content {
    border-radius: 20px;
}

#indice .unit-content .header {
	border: 2px solid #008000;
    border-bottom-right-radius: 0px;
}

#indice .unit-content .header.default {
	background-image: url(../../../images/libro/transparente.png) ! important;
	background-color: #7aac39;
}

#indice .units ul li a .number {
	width: 0px;
	visibility: hidden;
	margin: 0px;
}

#indice .units ul li {
	background: #cbcbcb;
}

#indice .units ul li.active:not(.disabled),
body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
	background: #008000;
}

#indice .units ul li:not(.add) a .title {
	margin-left: 10px;
}

#indice .unit-content .header .number {
	display: none;
}

#indice .unit-content .actividades .item:not(.nivel_1) .title{font-size: 1.5rem;}

#indice .unit-content {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
}


/**/

/* NAVBAR (Breadcums) */
#top-navigator {
	height: 55px;
	overflow: hidden;
	position: relative;
}

#top-navigator.show_left:before {
    background: linear-gradient(to right, #7aac39, transparent);
}

#top-navigator.show_right:after {
    background: linear-gradient(to left, #7aac39, transparent);
}

.content_type_clase_santillana_demo .santillana_demo-navbar {
    position: fixed;
    top: 44px;
    width: 100%;
    height: 82px;
    left: 0;
    z-index: 100;
    background-color: green;
}

body.is_app .santillana_demo-navbar {
	top: 0;
	transition: top 0.5s linear;
}

body.is_app .santillana_demo-navbar.ocultar {
	top: -136px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button,
.content_type_clase_santillana_demo .santillana_demo-navbar li {
	border-radius: 5px;
	border: none;
	background-color: transparent;
	color: #fff;
	vertical-align: middle;
	margin: 0px 5px;
	text-indent: 0px;
	width: fit-content;
	line-height: 3.5rem;
	font-size: 1.9rem;
	cursor: pointer;
}

.content_type_clase_santillana_demo .santillana_demo-navbar li {
	font-size: 1.5rem;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button {
	font-weight: 600;
   }

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button:focus {
	outline: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown .caret {
	border-color: #ffffff transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content {
	max-width: 1160px;
	margin: 0 20px;
	border-bottom: 0px solid #9665AB;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas {
	position: relative;
	background-color: green;
	padding-left: 6%;
	display: inline-block;
	float: left;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas:focus,
.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas button:focus {
	outline: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas button {
	background-color: transparent;
	border: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas .caret{
	border-color: #ffffff transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas .dropdown-menu {
	left: 50px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 {
	color: #fff;
	font-weight: 600;
	font-size: 2.5rem;
	margin-bottom: 0;
	padding-top: 20px;
	padding-left: 60px;
	position: relative;
	text-align: left;
	height: 80px;
    vertical-align: middle;
    display: table-cell;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 #nombre-tema-wrapper {
	line-height: 2.5rem;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 #courseIndex {
	background-color: orange;
    font-size: 4rem;
    color: white;
    display: inline-block;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    position: absolute;
    left: -10px;
    height: 60px;
    bottom: -1px;
    padding-top: 8px;
	border-bottom-right-radius: 0;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 a {
	font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
    display: inline-block;
    color: white;
    background-color: #0a740a;
    border-radius: 10px;
    text-align: center;
    padding: 1px 6px 1px 6px;
}

.content_type_clase_santillana_demo .slider-indicators {
	padding: 10px 0px;
	display: inline-block;
	text-align: left;
	position: absolute;
	width: 5000px;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}

.content_type_clase_santillana_demo .slider-indicators li:first-child span,
.content_type_clase_santillana_demo .dropdown li:first-child span.num {
	font-family: "Palatino Linotype", Times;
}

.content_type_clase_santillana_demo .first-is-section .slider-indicators li:first-child span,
.content_type_clase_santillana_demo .first-is-section .dropdown li:first-child span.num {
	font-family: 'FontAwesome' !important;
}

.dropdown-menu li span:first-child {
    display: inline-block;
    min-width: 20px;
    float: left;
}

.content_type_clase_santillana_demo .slider-indicators li {
	width: 35px;
	height: 35px;
	margin: 0px 5px;
	text-align: center;
}

.content_type_clase_santillana_demo .slider-indicators li.active,
.content_type_clase_santillana_demo .santillana_demo-navbar li:hover {
	background-color: #D9D2F1;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown {
	display: inline-block;
    width: 100px;
    float: left;
    margin: 33px 0px;
    padding-left: 5px;
    border-left: 1px dotted #fff;
    margin-left: 10px;
}

.open > .dropdown-menu {
	display: block;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-menu > li > a {
	padding: 3px 20px 0px 20px;
}

.dropdownTemas .dropdown-menu > li > a {
	display: inline;
	padding-left: 5px;
}

.dropdownTemas .dropdown-menu > li > a:hover {
	background-color: transparent;
}

.dropdownTemas .dropdown-menu > li > span {
	padding-left: 10px;
}

.dropdown-menu .title {
	display: inline-block;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown li {
	display: list-item;
	width: auto;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown li a {
	color: #777;
	font-size: 1.5rem;
	overflow: auto;
}
/**/


/* Navigators */
.navigator {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	padding: 0px 97px;
}

.navigator .title {
	width: calc(100% - 20px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.6rem;
	line-height: 4.0rem;
	display: inline-block;
	vertical-align: top;
}

.main-navigator {
	padding: 15px 0px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.navigator .left, .navigator .right {
	width: 49%;
	display: inline-block;
	cursor: pointer;
}

.navigator .left {
	padding-left: 20px;
}

.navigator .right {
	text-align: right;
	padding-right: 20px;
}

.navigator .slider-control.left,
.navigator .slider-control.right {
	position: static;
	height: auto;
	width: 100%;
	background-color: transparent;
	border-radius: 0px;
	margin: 0px;
	opacity: 1;
	text-shadow: none;
	color: #999;
	font-size: 2.3rem;
}

.navigator .slider-control.left:before,
.navigator .slider-control.right:after {
	font-family: 'FontAwesome';
	position: absolute;
	margin-top: 9px;
}

.navigator .slider-control.left:before {
	margin-left: -20px;
	content: "\f104";
}

.navigator .slider-control.right:after {
	margin-left: 20px;
	content: "\f105";
}

.navigator .slider-control span {
	position: static;
	margin: 0px;
    cursor: pointer;
}
/**/

/* CKEDITOR */
#actividad .content img {
	margin-top: 10px;
	border: 0px solid;
    border-radius: 0px;
    border-bottom-right-radius: 0;
}

/*Evitar bordes en las lineas del matching*/
#actividad .workspace.matching .img-relaciones img {
	margin: 0;
	border: none;
	border-radius: 0;
}


#actividad .content .normal-img,  #actividad .content figure.normal-img img {
	border: none;
	border-radius: 0;
}

#actividad .content figure.normal-img {
	margin: 0;
	padding: 0;
}

#actividad .content .bck-img-align-right {
	float: right;
}

#actividad .content .bck-img-align-center {
	text-align: center;
}

#actividad .player.audio {
	background-image: url(audio_icon.png);
	background-size: 100%;
	background-position: 0;
	background-color: transparent;
}

/*titulos*/


.bck-title1 {
    color: #9665AB;
    font-size: 2.4rem;
    font-weight: bold;
	position: relative;
}

/*titulo 2*/

.bck-title2 {
    color: #9665AB;
    font-size: 2.1rem;
    font-weight: bold;
    border-bottom: 1px solid #9665AB;
	position: relative;
}

/*titulo 3*/

.bck-title3 {
    color: #FF8400;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
	position: relative;
}

/*flecha verde*/

.bck-title4{
        color: #ffffff;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    background: #008000;
    padding: 5px 30px 2px 60px;
    border-radius: 0px 15px 0px 0px;
}

.bck-title4:before {
content: "\f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: #008000;
    border-radius: 50%;
    padding: 0px;
    font-weight: 100;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    text-align: center;
}

/*flecha morado*/

.bck-title13{
        color: #ffffff;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    background: #9e61a4;
    padding: 5px 30px 2px 60px;
    border-radius: 0px 15px 0px 0px;
}

.bck-title13:before {
content: "\f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #ffffff;
    color: #9e61a4;
    border-radius: 50%;
    padding: 0px;
    font-weight: 100;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    text-align: center;
}


/*titulo verde*/

.bck-title5 {
	font-size: 26px;
    font-weight: 600;
    color: #008000;
}

/*titulo morado*/

.bck-title11 {
	font-size: 26px;
    font-weight: 600;
    color: #9e61a4;
}



/*explora*/

.bck-title6 {
	background: #a1c037;
    width: fit-content;
    padding: 5px 10px 2px 10px;
    color: #fff;
    border-radius: 20% 20% 0% 0%;
}

/*paso gris*/

.bck-title7 {
	background: #98a6b9;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 20% 20% 20% 20%;
    font-size: 2rem;
}

/*paso naranja*/
.bck-title12 {
	background: #f8a800;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 20% 20% 20% 20%;
    font-size: 2rem;
}

/*titulo gris*/

.bck-title8 {
	font-size: 2.2rem;
    font-weight: 700;
    color: #4b4b4a;
}

/*pie de foto*/

.bck-title9{
    font-size: 1.6rem;
    position: relative;
    padding-left: 40px;
}

.bck-title9:before {
content: "\f0da";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: #008000;
    border-radius: 50%;
    padding: 0px;
    font-weight: 100;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    text-align: center;
}

/*relaciona*/

.bck-title10 {
	background: green;
    width: fit-content;
    padding: 5px 15px 2px 15px;
    color: #fff;
    border-radius: 20% 20% 0% 0%;
}


/*enfasis*/

.bck-enfasis {
    color: #9363A8;
    font-weight: bold;
}

.bck-enfasis-naranja {
	color: #ED7102;
}

.bck-verde1 {
	color: #5c8b41;
}

.bck-naranja {
	background: orange;
	border-radius: 50%;
	color: #ffffff;
	padding: 4px 11px 5px 11px;
}

.bck-azulclaro {
	color: #99a6ba;
	font-variant: small-caps;
}

.bck-verdedesafio {
	color: #95c11f;
	font-weight: 700;
	font-size: 2.2rem;
}

.bck-sombreado {
	background: #e4ebc5;
	padding: 5px 10px 5px 10px;
	border-radius: 20%;
	font-weight: 700;
}

.bck-gris {
	color: #98a6b9;
	font-size: 2.2rem;
}

/*listas ordenadas*/
    .content ol,
	.cke_contents ol {
		list-style: none;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.content ol li,
	.cke_contents ol li {
		counter-increment: bck-li-counter 1;
		position: relative;
		padding-left: 32px;
	}

	.content ol li:before,
	.cke_contents ol li:before {
		content: counter(bck-li-counter)'. ';
   		 position: absolute;
   		 margin-left: -25px;
    	 font-weight: bold;
   		 font-size: 2.0rem;
   		 text-align: right;
    	 color: #000;
   		 margin-top: -3px;
	}

/*LISTA ORDENADA 1*/ 

#actividad .content .texto_curso .bck-ol-1 li,
#actividad .content .workspace ol li .bck-ol-1 li {
       counter-increment: bck-li-counter 1;
		position: relative;
}


#actividad .content .texto_curso .bck-ol-1 li:before,
#actividad .content .cke_contents .bck-ol-1 li:before,
#actividad .popover-content .bck-ol-1 li:before,
#actividad .content .workspace ol li .bck-ol-1 li:before {
	content: counter(bck-li-counter)" ";
	position: absolute;
	width: 38px;
	text-align: right;
	color: #9665AB;
}

/*LISTA 2*/

#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ol li .bck-ol-2 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li,
#actividad .content .workspace ol li .bck-ol-2 li {
	list-style-type: none;
	counter-reset: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}


#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso ol.bck-ol-2 li:before,
#actividad .popover-content ol.bck-ol-2 li:before,
#actividad .content .workspace ol li .bck-ol-2 li:before {
	content: counter(bck-li-counter, upper-alpha)" ";
	color: #9665AB;
	font-size: 2.3rem;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista naranja*/
#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ol li .bck-ol-3 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}

#actividad .content .texto_curso .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ol li .bck-ol-3 li {
	position: relative;
	z-index: 0;
	font-weight: 700;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso ol.bck-ol-3 li:before,
#actividad .popover-content ol.bck-ol-3 li:before,
#actividad .content .workspace ol li .bck-ol-3 li:before {
    content: counter(bck-li-counter)" ";
    position: absolute;
    background: orange;
    width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: -1px;
    line-height: initial;
    text-align: center;
    color: #fff;
    border-radius: 30% 30% 0% 30%;
}


/*lista verde*/

#actividad .content .cke_contents .bck-ol-4,
#actividad .content .texto_curso .bck-ol-4,
#actividad .content .workspace ol li .bck-ol-4 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}


#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .texto_curso .bck-ol-4 li,
#actividad .popover-content .bck-ol-4 li, 
#actividad .content .workspace ol li .bck-ol-4 li {
	position: relative;
	z-index: 0;
	font-weight: 700;
}

#actividad .content .cke_contents .bck-ol-4 li:before,
#actividad .content .texto_curso ol.bck-ol-4 li:before, 
#actividad .popover-content ol.bck-ol-4 li:before, 
#actividad .content .workspace ol li .bck-ol-4 li:before {
    content: counter(bck-li-counter)" ";
    position: absolute;
    background: green;
    width: 24px;
    height: 24px;
    line-height: initial;
    text-align: center;
    margin-left: -30px;
    color: #fff;
    border-radius: 30% 30% 0% 30%;
}

/*lista morado*/
#actividad .content .cke_contents .bck-ol-7,
#actividad .content .texto_curso .bck-ol-7,
#actividad .content .workspace ol li .bck-ol-7 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}

#actividad .content .texto_curso .bck-ol-7 li,
#actividad .content .cke_contents .bck-ol-7 li,
#actividad .popover-content .bck-ol-7 li,
#actividad .content .workspace ol li .bck-ol-7 li {
	position: relative;
	z-index: 0;
	font-weight: 700;
}

#actividad .content .cke_contents .bck-ol-7 li:before,
#actividad .content .texto_curso ol.bck-ol-7 li:before,
#actividad .popover-content ol.bck-ol-7 li:before,
#actividad .content .workspace ol li .bck-ol-7 li:before {
    content: counter(bck-li-counter)" ";
    position: absolute;
    background: #9e61a4;
    width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: -1px;
    line-height: initial;
    text-align: center;
    color: #fff;
    border-radius: 30% 30% 0% 30%;
}






/*lista letra verde*/

#actividad .content .cke_contents .bck-ol-5,
#actividad .content .texto_curso .bck-ol-5,
#actividad .content .workspace ol li .bck-ol-5 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}



#actividad .content .cke_contents .bck-ol-5 li,
#actividad .content .texto_curso .bck-ol-5 li,
#actividad .popover-content .bck-ol-5 li, 
#actividad .content .workspace ol li .bck-ol-5 li {
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-5 li:before,
#actividad .content .texto_curso ol.bck-ol-5 li:before, 
#actividad .popover-content ol.bck-ol-5 li:before, 
#actividad .content .workspace ol li .bck-ol-5 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: absolute;
    text-align: center;
    color: green;
    margin-left: -30px;
}


/*lista letra naranja*/

#actividad .content .cke_contents .bck-ol-6,
#actividad .content .texto_curso .bck-ol-6,
#actividad .content .workspace ol li .bck-ol-6 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}



#actividad .content .cke_contents .bck-ol-6 li,
#actividad .content .texto_curso .bck-ol-6 li,
#actividad .popover-content .bck-ol-6 li, 
#actividad .content .workspace ol li .bck-ol-6 li {
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-6 li:before,
#actividad .content .texto_curso ol.bck-ol-6 li:before, 
#actividad .popover-content ol.bck-ol-6 li:before, 
#actividad .content .workspace ol li .bck-ol-6 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: absolute;
    text-align: center;
    color: orange;
    margin-left: -30px;
}

/*lista letra morado*/

#actividad .content .cke_contents .bck-ol-8,
#actividad .content .texto_curso .bck-ol-8,
#actividad .content .workspace ol li .bck-ol-8 {
    list-style-type: none;
    counter-reset: bck-li-counter;
}



#actividad .content .cke_contents .bck-ol-8 li,
#actividad .content .texto_curso .bck-ol-8 li,
#actividad .popover-content .bck-ol-8 li, 
#actividad .content .workspace ol li .bck-ol-8 li {
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-8 li:before,
#actividad .content .texto_curso ol.bck-ol-8 li:before, 
#actividad .popover-content ol.bck-ol-8 li:before, 
#actividad .content .workspace ol li .bck-ol-8 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    position: absolute;
    text-align: center;
    color: #9e61a4;
    margin-left: -30px;
}



/*listas desordenadas*/

#actividad .content ul.bck-ul li {
	list-style: none;
}

#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li:before,
#actividad .content .texto_curso .bck-ul li:before,
#actividad .content .workspace ul li .bck-ul li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #9665AB;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 50%;
}

/*lista verde*/
#actividad .content .cke_contents ul .bck-ul-2 li,
#actividad .content .texto_curso ul .bck-ul-2 li,
#actividad .content .texto_curso ul .bck-ul-2 li,
#actividad .content .workspace ul .bck-ul-2 li {
	list-style: none;
}

#actividad .content .cke_contents ul .bck-ul-2 li:before,
#actividad .content .texto_curso ul .bck-ul-2 li:before,
#actividad .content .texto_curso .bck-ul-2 li:before,
#actividad .content .workspace ul li .bck-ul-2 li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #008000;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 50%;
}

#actividad .content .texto_curso ul.bck-ul-3 li,
#actividad .content .workspace ul li ul.bck-ul-3 li {
	list-style: none;
	padding: 0;
	margin-left: 15px;
}

#actividad .content .texto_curso ul.bck-ul-3 li:before,
#actividad .content .workspace ul li ul.bck-ul-3 li:before {
	content: "";
	font-family: FontAwesome;
	display: inline-block;
	margin: 0;
	margin-left: -20px;
	background-color: transparent;
	color: #9665AB;
}


/*lista des amarilla*/
#actividad .content .cke_contents ul .bck-ul-4 li,
#actividad .content .texto_curso ul .bck-ul-4 li,
#actividad .content .texto_curso ul .bck-ul-4 li,
#actividad .content .workspace ul .bck-ul-4 li {
	list-style: none;
}

#actividad .content .cke_contents ul .bck-ul-4 li:before,
#actividad .content .texto_curso ul .bck-ul-4 li:before,
#actividad .content .texto_curso .bck-ul-4 li:before,
#actividad .content .workspace ul li .bck-ul-4 li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #baba0f;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 50%;
}



/*lista blanca*/

#actividad .content .texto_curso .bck-ul-5 li:before,
#actividad .content .workspace ul li .bck-ul-5 li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #ffffff;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 50%;
}




/**/

/*Cajas*/
.bck-box {
	max-width: 100%;
	margin-bottom: 20px;
}

.bck-box.center {
	display: block;
	text-align: center;
}

.bck-box.center .bck-content {
	position: relative;
}

.bck-box.left, img[style~="float:right"] {
	float: left;
	margin-right: 30px;
}

.bck-box.right, img[style~="float:left"] {
	float: right;
	margin-left: 30px;
}

.bck-box img {
	max-width: 100%;
}

.bck-box .bck-content {
	text-align: justify;
	padding: 10px;
	padding-left: 50px;
}



.bck-box.bck-box-1 .bck-title {
   
}

.bck-box.bck-box-1 {
   
}

/*caja 2 marron*/

.bck-box.bck-box-2 .bck-title {
    color: #fff;
    font-weight: 700;
    border-radius: 20px 0px 0px 0px;
    margin-top: 30px;
    background-color: #a87c24;
    text-align: left;


}

.bck-box.bck-box-2 .bck-title p{
	font-size: 2rem;
    border-bottom: 2px solid #ffffff;
    padding-left: 30px;
    padding-top: 5px;
    margin-top: -30px;
}


.bck-box.bck-box-2 .bck-content {
	background-color: #a87c24;
    padding: 20px 40px 20px 20px;
    color: #fff;
}

/*caja3 flotante*/

.bck-box.bck-box-3 {
	position: absolute;
	top: 550px;
	left: 40px;
}

.bck-box.bck-box-3 .bck-content {
	background-color: #fcf7ec;
    border-radius: 0px 20px 0px 20px;
    padding: 20px 40px 20px 20px;
}

/*caja 4 Activaverde flotante*/

.bck-box.bck-box-4 .bck-title {
    background-color: #09a109;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding: 10px 30px 5px 40px;
    border-radius: 20px 0px 0px 0px;
    width: fit-content;
}

.bck-box.bck-box-4 .bck-title p{
	font-size: 2rem;
}

.bck-box.bck-box-4 .bck-title:before {
	content: "\f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: #a3bd31;
    border-radius: 50%;
    padding: 3px;
    font-weight: 300;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 9px;
    text-align: center;
}
.bck-box.bck-box-4 {
	position: absolute;
	top: 120px;
	left: 40px;
}

.bck-box.bck-box-4 .bck-content {
	background-color: #f6e7bf;
    border-radius: 0px 30px 0px 0px;
    padding: 20px 40px 20px 20px;
}

/*caja 5 Activaazul*/

.bck-box.bck-box-5 .bck-title {
    background-color: #007bc2;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding: 10px 30px 5px 40px;
    border-radius: 20px 0px 0px 0px;
    width: fit-content;
}

.bck-box.bck-box-5 .bck-title:before {
	content: "\f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: #007bc2;
    border-radius: 50%;
    padding: 3px;
    font-weight: 300;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 9px;
    text-align: center;
}


.bck-box.bck-box-5 .bck-content {
	background-color: #f6e7bf;
    border-radius: 0px 30px 0px 0px;
}

/*caja 6 Activamorado*/

.bck-box.bck-box-6 .bck-title {
    background-color: #9e61a4;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding: 10px 30px 5px 40px;
    border-radius: 20px 0px 0px 0px;
    width: fit-content;
}

.bck-box.bck-box-6 .bck-title:before {
	content: "\f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: #9e61a4;
    border-radius: 50%;
    padding: 3px;
    font-weight: 300;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 9px;
    text-align: center;
}


.bck-box.bck-box-6 .bck-content {
	background-color: #f6e7bf;
    border-radius: 0px 30px 0px 0px;
}

/*caja materiales*/

.bck-box.bck-box-7 .bck-title {
    background-color: #d3de9d;
    color: #333;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border-radius: 20px 20px 0px 0px;
}

.bck-box.bck-box-7 .bck-content {
    background-color: #ffffff;
    border: 1px solid #d3de9d;
    padding: 10px 20px 10px 15px;
    border-radius: 0px 0px 20px 20px;
}

/*caja comprensión*/

.bck-box.bck-box-8 .bck-title {
    background-color: #ffffff;
    color: #c20f1a;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #c20f1a;
    
}

.bck-box.bck-box-8 .bck-content {
    background-color: #f8ebe5;
    border-radius: 0px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
}

/*caja resumen naranja*/

.bck-box.bck-box-9 .bck-title {
    background-color: #eae7d8;
    color: #d3711c;
    font-weight: 700;
    text-align: left;
    padding: 10px 0px 5px 20px;
    border-radius: 0px 20px 0px 0px;
   
    
}

.bck-box.bck-box-9 .bck-content {
    background-color: #eae7d8;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 20px 10px 20px;
}

/*caja saber más*/

.bck-box.bck-box-10 .bck-title {
    background-color: #ffa500;
    color: #ffffff;
    font-weight: 700;
    width: fit-content;
    text-align: left;
    padding: 5px 20px 5px 20px;
    border-radius: 0px 0px 20px 0px;
}

.bck-box.bck-box-10 .bck-content {
    background-color: #faecd4;
    padding: 10px 20px 10px 20px;
}

.bck-box.bck-box-10 {
    max-width: 100%;
    margin-bottom: 20px;
    background: #faecd4;
    border-radius: 0px 20px 0px 20px;
}

/*caja imagen*/

.bck-box.bck-box-11 .bck-title {
    background-color: #baba0f;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border-radius: 0px 0px 20px 0px;
}

.bck-box.bck-box-11 .bck-content {
    background-color: #ffffff;
    border-bottom: 2px solid #baba0f;
}

/*caja azul*/

.bck-box.bck-box-12 .bck-title {
    background-color: #c0c8d4;
    color: #333;
    font-weight: 600;
    text-align: center;
    padding: 10px 0px 5px 0px;
    border-radius: 20px 20px 0px 0px;
}

.bck-box.bck-box-12 .bck-content {
    background-color: #ffffff;
    border: 1px solid #848d94;
    border-radius: 0px 0px 20px 20px;
}

/*caja 13 formacion*/

.bck-box.bck-box-13 .bck-title {
	background-color: transparent;
    color: #e6b300;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px 5px 10px;
    border: 2px solid #906da6;
    border-radius: 20px 20px 0px 0px;
}

.bck-box.bck-box-13 .bck-title:before {
    content: " ";
    background: url(imagenes/bambefore.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: -32px;
}

.bck-box.bck-box-13 .bck-content {
	background-color: #e8e3f0;
    border-radius: 0px 0px 30px 0px;
    padding: 10px 25px 10px 15px;
}

/**Iconos**/

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
}


/**TABLA**/

.bck-table {
	border: 0;
}

.bck-table td {
	padding: 10px;
	border-color: #ddd
}

table td.bck-td {
	background-color: #CC99FF;
}

.bck-table-2 {
	border-radius: 10px;
	border: 2px solid #a1c037;

}

.bck-table-2 td {
	border: 1px solid #a1c037;
}


/*celda general*/
td {
    padding: 10px;
}

/*celda 1*/
.bck-td-1 {
	color: #ffffff;
	background: #a1c037;
	border-right: 1px solid #ffffff;
	padding: 5px;
	text-align: center;
	font-weight: 700;
}


/**/

.textarea-container {
    width: 100%;
}

#actividad .workspace.multiple-choice .opcion {
    background-color: white;
}

.cke_reset {
    background: white;
}

.btn-primary {
    background-color: #9665AB;

}

 .btn-primary.disabled {
 	background: green;
 }


 .btn-primary.disabled:focus {
 	background: orange;
 }


/* CKEDITOR */
.actividades .bck-title1 {
	color: #F5821F;
	position: relative;
	font-weight: bold;
	font-size: 2.8rem;
}

.actividades .bck-title1:before {
	background-color: transparent;
}



/**iframe**/

#iframe_div.scorm {
    width: 100% ! important;
    height: 100% ! important;
    top: 0px ! important;
    left: 0px ! important;
    background-color: #CCCCCC;
}

#iframe_div.scorm iframe#class_iframe {
    width: 100% ! important;
    height: 100% ! important;
}

#iframe_div.scorm .btn-close-iframe {
	right: 0px;
	top: 15px;
	margin-top: 20px;
}

#iframe_div.scorm .btn-close-iframe span {
	display: none;
}

#iframe_div.scorm .btn-close-iframe a {
	padding: 16px;
	background-color: #E9E9E9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 1px 5px #aaa;
}

#iframe_div.scorm .btn-close-iframe a .fa {
	font-size: 2rem;
}

/**/

/**Dropdown**/

.bck-dropdown {
	border-top-right-radius: 20px;
}

.santillana_demo-dropdown .bck-dropdown-icon, .santillana_demo-dropdown-2 .bck-dropdown-icon {
	color: white;
}

.santillana_demo-dropdown .bck-dropdown-icon > .fa, .santillana_demo-dropdown-2 .bck-dropdown-icon > .fa {
	border: 3px solid white;
}

.santillana_demo-dropdown .bck-dropdown-titulo, .santillana_demo-dropdown-2 .bck-dropdown-titulo{
	color: white;
}

/*Desplegable 1*/
.bck-dropdown.santillana_demo-dropdown {
	background-color: #FBA81C;
}

.santillana_demo-dropdown .bck-dropdown-icon {
	background-color: #FBA81C;
}

.santillana_demo-dropdown .bck-dropdown-content {
	background-color: #F2E7D1;
}

/**/

/*Desplegable 2*/
.bck-dropdown.santillana_demo-dropdown-2 {
	background-color: #9665AB;
}

.santillana_demo-dropdown-2 .bck-dropdown-icon {
	background-color: #9665AB;
}

.santillana_demo-dropdown-2 .bck-dropdown-content {
	background-color: #e5b7e4;
}

.edit .santillana_demo-dropdown-2 .bck-dropdown-content {
	color: white;
}
/**/
/****/

@media screen and (max-width: 768px) {

	#actividad .carousel-inner .class_slide {
        padding: 40px 20px 0px;
    }

	.navigator {
        padding: 0px 20px;
    }

	#actividad .carousel-inner .actividades .item-container:before,
	#actividad .carousel-inner .emprender .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 85px;
		border-left-width: 20px;
		border-right-width: 20px;
	}

	#actividad .carousel-inner .taller .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 60px;
		border-left-width: 20px;
		border-right-width: 20px;
		bottom:0 ;
	}
}
