/*General CSS SANTILLANA CHILE*/

.body_clase .content-wrapper {
	padding-top: 130px;
	padding-bottom: 0px;
}

.body_clase.edit .content-wrapper {
	padding-top: 0;
	top: 0px;
}

.html-book {
	font-size: 1.9rem;
}

.libro .footer .powered,
.libro .footer .legal-notes,
.libro .footer .about-us,
.libro .footer .contact-us,
.libro .footer .faq {
	display: none;
}

.content_type_clase_santillana_demo #actividad {
	margin-bottom: 0px;
	-webkit-transform: none;
	-webkit-transform-style: flat;
}

.content_type_clase_santillana_demo .slide-wrapper {
	text-align: justify;
}

#actividad .carousel-inner .item-container {
	background-image: none;
	max-width: 1200px;
	box-shadow: rgba(0,0,0,0.298039) 0 0px 0px;
	margin: 20px auto 30px;
	padding: 0px;
	padding-bottom: 90px;
	position: relative;
}

#swipeview-slider > div {
	background-color: #fff;
}

a {
    text-decoration: none;
    color: #757575;
}

a:hover, a:active, a:focus {
    color: #9665AB;
}

.zoom_flag_img {
    top: 20px;
}
/*HEADER*/

.content_type_clase_santillana_demo #actividad .content .header .title img,
.content_type_clase_santillana_demo #actividad .content .header .chapter {
	display: none;
}

.content_type_clase_santillana_demo #actividad .content .header {
	border: none;
}

.content_type_clase_santillana_demo #actividad .content .header .title h3 {
	display: none;
}

input, button, select, textarea {
	padding-left: 0;
	padding-bottom: 0px;
}

.santillana_demo-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}

/**/

.content_type_clase_santillana_demo #actividad .texto_curso {
	font-size: 1.8rem;
}

.content_type_clase_santillana_demo #actividad .texto_curso li,
.content_type_clase_santillana_demo #actividad .workspace ul li li {
	margin-bottom: 10px;
}

.content_type_clase_santillana_demo #actividad .texto_curso li:last-of-type,
.content_type_clase_santillana_demo #actividad .workspace ul li li:last-of-type {
	margin-bottom: 0px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before, .preview ul li:before,
.classify-item ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.matching .box ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before {
    background-color: #AC218F;
    border-radius: 0%;
}

#actividad .class_slide {
	padding: 40px 97px 0px;
}

body.is_app #actividad .class_slide {
	padding-top: 115px;
}

#actividad .class_slide:last-of-type {
    padding-bottom: 100px;
}

#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
}

#actividad .slide-concatenate:last-of-type .class_slide {
    padding-bottom: 100px;
}

#actividad .content .header .title {
	min-height: 0px;
}

.content_type_clase_santillana_demo .slide_main input {
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.content_type_clase_santillana_demo .slide_main input:focus,
.content_type_clase_santillana_demo .slide_main .form-control:focus {
	border-color: #9664AB;
	outline-width: 0px;
	outline-style: none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
}

.content_type_clase_santillana_demo .slide_main input[disabled],
.content_type_clase_santillana_demo .slide_main input[readonly],
fieldset[disabled] .content_type_clase_santillana_demo .slide_main input {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.content_type_clase_santillana_demo .slide_main input.respuesta_ok {
	border-color: #57e900;
	background: #D1F3BD;
}

.content_type_clase_santillana_demo .slide_main input.respuesta_ko {
	border-color: #FF3626;
	background: #FFA49D;
}

.content_type_clase_santillana_demo .slide_main input.solucion {
	border-color: #00BDFF;
	background: #B6ECFF;
}
/**/

/* CURSO */

#indice .unit-content {
    border-radius: 20px;
}

#indice .unit-content .header {
	border: 2px solid #9665AB;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}

#indice .unit-content .header.default {
	background-image: url(../../../images/libro/transparente.png) ! important;
	background-color: #7aac39;
}

#indice .units ul li a .number {
	width: 0px;
	visibility: hidden;
	margin: 0px;
}

#indice .units ul li {
	background: #cbcbcb;
}

#indice .units ul li.active:not(.disabled),
body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
	background: #9665AB;
}

#indice .units ul li:not(.add) a .title {
	margin-left: 10px;
}

#indice .unit-content .header .number {
	display: none;
}

#indice .unit-content .actividades .item:not(.nivel_1) .title{font-size: 1.5rem;}

/**/

/* NAVBAR (Breadcums) */
#top-navigator {
	height: 55px;
	overflow: hidden;
	position: relative;
}

#top-navigator.show_left:before {
    background: linear-gradient(to right, #7aac39, transparent);
}

#top-navigator.show_right:after {
    background: linear-gradient(to left, #7aac39, transparent);
}

.content_type_clase_santillana_demo .santillana_demo-navbar {
	position: fixed;
	top: 44px;
	width: 100%;
	left: 0;
	z-index: 100;
	background-color: #f2f2f2;
	background: linear-gradient(to bottom, white, #f2f2f2);
}

body.is_app .santillana_demo-navbar {
	top: 0;
	transition: top 0.5s linear;
}

body.is_app .santillana_demo-navbar.ocultar {
	top: -136px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button,
.content_type_clase_santillana_demo .santillana_demo-navbar li {
	border-radius: 5px;
	border: none;
	background-color: transparent;
	color: black;
	vertical-align: middle;
	margin: 0px 5px;
	text-indent: 0px;
	line-height: 3.5rem;
	font-size: 1.9rem;
	cursor: pointer;
}

.content_type_clase_santillana_demo .santillana_demo-navbar li {
	font-size: 1.5rem;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button {
	font-weight: 600;
	width: auto;
	padding: 0;
	margin: 0;
	text-align: left;
	line-height:
	border: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown button:focus {
	outline: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown .caret {
	border-color: black transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content {
	max-width: 1160px;
	margin: 0 20px;
	border-bottom: 1px solid #9665AB;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas {
	position: relative;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas:focus,
.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas button:focus {
	outline: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas button {
	background-color: transparent;
	border: none;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas .caret{
	border-color: #9665AB transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdownTemas .dropdown-menu {
	left: 50px;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 {
	color: #9665AB;
	font-weight: 600;
	font-size: 2.5rem;
	margin-bottom: 0;
	padding-top: 20px;
	padding-left: 60px;
	position: relative;
	text-align: left;
	height: 80px;
    vertical-align: middle;
    display: table-cell;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 #nombre-tema-wrapper {
	line-height: 2.5rem;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 #courseIndex {
	background-color: #9665AB;
    font-size: 4rem;
    color: white;
    display: inline-block;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    position: absolute;
    left: -10px;
    height: 60px;
    bottom: -1px;
    padding-top: 8px;
	border-bottom-right-radius: 0;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .navbar-content h2 a {
	font-size: 1.6rem;
	font-weight: normal;
	padding-left: 10px;
	margin-left: 10px;
	display: inline-block;
	border-left: 1px dotted grey;
}

.content_type_clase_santillana_demo .slider-indicators {
	padding: 10px 0px;
	display: inline-block;
	text-align: left;
	position: absolute;
	width: 5000px;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}

.content_type_clase_santillana_demo .slider-indicators li:first-child span,
.content_type_clase_santillana_demo .dropdown li:first-child span.num {
	font-family: "Palatino Linotype", Times;
}

.content_type_clase_santillana_demo .first-is-section .slider-indicators li:first-child span,
.content_type_clase_santillana_demo .first-is-section .dropdown li:first-child span.num {
	font-family: 'FontAwesome' !important;
}

.dropdown-menu li span:first-child {
    display: inline-block;
    min-width: 20px;
    float: left;
}

.content_type_clase_santillana_demo .slider-indicators li {
	width: 35px;
	height: 35px;
	margin: 0px 5px;
	text-align: center;
}

.content_type_clase_santillana_demo .slider-indicators li.active,
.content_type_clase_santillana_demo .santillana_demo-navbar li:hover {
	background-color: #D9D2F1;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown {
	display: block;
	float: left;
	margin: 10px 0;
}

.open > .dropdown-menu {
	display: block;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-menu > li > a {
	padding: 3px 20px 0px 20px;
}

.dropdownTemas .dropdown-menu > li > a {
	display: inline;
	padding-left: 5px;
}

.dropdownTemas .dropdown-menu > li > a:hover {
	background-color: transparent;
}

.dropdownTemas .dropdown-menu > li > span {
	padding-left: 10px;
}

.dropdown-menu .title {
	display: inline-block;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown li {
	display: list-item;
	width: auto;
}

.content_type_clase_santillana_demo .santillana_demo-navbar .dropdown li a {
	color: #777;
	font-size: 1.5rem;
	overflow: auto;
}
/**/


/* Navigators */
.navigator {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	padding: 0px 97px;
}

.navigator .title {
	width: calc(100% - 20px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.6rem;
	line-height: 4.0rem;
	display: inline-block;
	vertical-align: top;
}

.main-navigator {
	padding: 15px 0px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.navigator .left, .navigator .right {
	width: 49%;
	display: inline-block;
	cursor: pointer;
}

.navigator .left {
	padding-left: 20px;
}

.navigator .right {
	text-align: right;
	padding-right: 20px;
}

.navigator .slider-control.left,
.navigator .slider-control.right {
	position: static;
	height: auto;
	width: 100%;
	background-color: transparent;
	border-radius: 0px;
	margin: 0px;
	opacity: 1;
	text-shadow: none;
	color: #999;
	font-size: 2.3rem;
}

.navigator .slider-control.left:before,
.navigator .slider-control.right:after {
	font-family: 'FontAwesome';
	position: absolute;
	margin-top: 9px;
}

.navigator .slider-control.left:before {
	margin-left: -20px;
	content: "\f104";
}

.navigator .slider-control.right:after {
	margin-left: 20px;
	content: "\f105";
}

.navigator .slider-control span {
	position: static;
	margin: 0px;
    cursor: pointer;
}
/**/

/* CKEDITOR */
#actividad .content img {
	margin-top: 10px;
	border: 2px solid #9665AB;
    border-radius: 25px;
    border-bottom-right-radius: 0;
}

/*Evitar bordes en las lineas del matching*/
#actividad .workspace.matching .img-relaciones img {
	margin: 0;
	border: none;
	border-radius: 0;
}


#actividad .content .normal-img,  #actividad .content figure.normal-img img {
	border: none;
	border-radius: 0;
}

#actividad .content figure.normal-img {
	margin: 0;
	padding: 0;
}

#actividad .content .bck-img-align-right {
	float: right;
}

#actividad .content .bck-img-align-center {
	text-align: center;
}

#actividad .player.audio {
	background-image: url(audio_icon.png);
	background-size: 100%;
	background-position: 0;
	background-color: transparent;
}

.bck-title1 {
    color: #9665AB;
    font-size: 2.4rem;
    font-weight: bold;
	position: relative;
}

.bck-title2 {
    color: #9665AB;
    font-size: 2.1rem;
    font-weight: bold;
    border-bottom: 1px solid #9665AB;
	position: relative;
}

.bck-title3 {
    color: #FF8400;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
	position: relative;
}

.bck-enfasis {
    color: #9363A8;
    font-weight: bold;
}

.bck-enfasis-naranja {
	color: #ED7102;
}

/*listas*/

#actividad .content ul.bck-ul li {
	list-style: none;
}

#actividad .content .texto_curso ul li:before,
#actividad .content .workspace ul li ul li:before,
#actividad .content .texto_curso .bck-ul li:before,
#actividad .content .workspace ul li .bck-ul li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #9665AB;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 50%;
}

#actividad .content .texto_curso  ul.bck-ul-2 li,
#actividad .content .workspace ul li ul.bck-ul-2 li {
	list-style: none;
}

#actividad .content .texto_curso .bck-ul-2 li:before,
#actividad .content .workspace ul li .bck-ul-2 li:before {
	content: "- ";
	background: none;
    position: relative;
}

#actividad .content .texto_curso ul.bck-ul-3 li,
#actividad .content .workspace ul li ul.bck-ul-3 li {
	list-style: none;
	padding: 0;
	margin-left: 15px;
}

#actividad .content .texto_curso ul.bck-ul-3 li:before,
#actividad .content .workspace ul li ul.bck-ul-3 li:before {
	content: "ï¡";
	font-family: FontAwesome;
	display: inline-block;
	margin: 0;
	margin-left: -20px;
	background-color: transparent;
	color: #9665AB;
}

#actividad .content .texto_curso .bck-ol li,
#actividad .content .workspace ul li .bck-ol li {
    list-style-type: none;
    counter-increment: bck-li-counter 1;
    position: relative;
}

#actividad .content .texto_curso .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before {
	content: counter(bck-li-counter)'.-';
	position: absolute;
	left: -47px;
	width: 38px;
	text-align: right;
	color: #9665AB;
}

#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .texto_curso .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .texto_curso ol.bck-ol-2 li:before,
#actividad .content .workspace ul li ol.bck-ol-2 li:before {
	content: counter(bck-li-counter, upper-alpha)'.-';
	color: #9665AB;
	font-size: 2.3rem;
    margin-left: -32px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}
/**/

/*Cajas*/
.bck-box {
	max-width: 100%;
	margin-bottom: 20px;
}

.bck-box.center {
	display: block;
	text-align: center;
}

.bck-box.center .bck-content {
	position: relative;
}

.bck-box.left, img[style~="float:right"] {
	float: left;
	margin-right: 30px;
}

.bck-box.right, img[style~="float:left"] {
	float: right;
	margin-left: 30px;
}

.bck-box img {
	max-width: 100%;
}

.bck-box .bck-content {
	text-align: justify;
	padding: 10px;
	padding-left: 50px;
}



.bck-box.bck-box-1 .bck-title {
   
}

.bck-box.bck-box-1 {
   
}

.bck-box.bck-box-2 .bck-title {
   
}

.bck-box.bck-box-2 {
	
}

.bck-box.bck-box-2 > .bck-content {
	
}

.bck-box.bck-box-3 .bck-title {
   
}

.bck-box.bck-box-3 {
	
}

/*caja 4 Activaverde*/

.bck-box.bck-box-4 .bck-title {
    background-color: #70a83b;
    color: #fff;
    font-weight: 700;
    text-align: left;
    padding: 10px 30px 5px 30px;
    border-radius: 20px 0px 0px 0px;
    width: fit-content;
}

.bck-box.bck-box-4 .bck-title:before {
	content: "f063";
    font-family: FontAwesome;
    display: inline-block;
    background-color: #fff;
    color: rgb(150, 101, 171);
    margin: 0px 0px 0px -20px;
}


.bck-box.bck-box-4 .bck-content {
	background-color: #f6e7bf;
    border-radius: 0px 30px 0px 0px;
}

/*caja 5 Activaazul*/

.bck-box.bck-box-5 .bck-title {
   
}

.bck-box.bck-box-5 {
	
}

/*caja 6 Activamorado*/

.bck-box.bck-box-6 .bck-title {
   
}

.bck-box.bck-box-6 {
	
}


/**Iconos**/

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
}


/**TABLA**/

.bck-table {
	border: 0;
}

.bck-table td {
	padding: 10px;
	border-color: #ddd
}

table td.bck-td {
	background-color: #CC99FF;
}

/**/

.textarea-container {
    width: 100%;
}

#actividad .workspace.multiple-choice .opcion {
    background-color: white;
}

.cke_reset {
    background: white;
}

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:focus {
    background-color: #9665AB;
}



/* CKEDITOR */
.actividades .bck-title1 {
	color: #F5821F;
	position: relative;
	font-weight: bold;
	font-size: 2.8rem;
}

.actividades .bck-title1:before {
	background-color: transparent;
}



/**iframe**/

#iframe_div.scorm {
    width: 100% ! important;
    height: 100% ! important;
    top: 0px ! important;
    left: 0px ! important;
    background-color: #CCCCCC;
}

#iframe_div.scorm iframe#class_iframe {
    width: 100% ! important;
    height: 100% ! important;
}

#iframe_div.scorm .btn-close-iframe {
	right: 0px;
	top: 15px;
	margin-top: 20px;
}

#iframe_div.scorm .btn-close-iframe span {
	display: none;
}

#iframe_div.scorm .btn-close-iframe a {
	padding: 16px;
	background-color: #E9E9E9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 1px 5px #aaa;
}

#iframe_div.scorm .btn-close-iframe a .fa {
	font-size: 2rem;
}

/**/

/**Dropdown**/

.bck-dropdown {
	border-top-right-radius: 20px;
}

.santillana_demo-dropdown .bck-dropdown-icon, .santillana_demo-dropdown-2 .bck-dropdown-icon {
	color: white;
}

.santillana_demo-dropdown .bck-dropdown-icon > .fa, .santillana_demo-dropdown-2 .bck-dropdown-icon > .fa {
	border: 3px solid white;
}

.santillana_demo-dropdown .bck-dropdown-titulo, .santillana_demo-dropdown-2 .bck-dropdown-titulo{
	color: white;
}

/*Desplegable 1*/
.bck-dropdown.santillana_demo-dropdown {
	background-color: #FBA81C;
}

.santillana_demo-dropdown .bck-dropdown-icon {
	background-color: #FBA81C;
}

.santillana_demo-dropdown .bck-dropdown-content {
	background-color: #F2E7D1;
}

/**/

/*Desplegable 2*/
.bck-dropdown.santillana_demo-dropdown-2 {
	background-color: #9665AB;
}

.santillana_demo-dropdown-2 .bck-dropdown-icon {
	background-color: #9665AB;
}

.santillana_demo-dropdown-2 .bck-dropdown-content {
	background-color: #e5b7e4;
}

.edit .santillana_demo-dropdown-2 .bck-dropdown-content {
	color: white;
}
/**/
/****/

@media screen and (max-width: 768px) {

	#actividad .carousel-inner .class_slide {
        padding: 40px 20px 0px;
    }

	.navigator {
        padding: 0px 20px;
    }

	#actividad .carousel-inner .actividades .item-container:before,
	#actividad .carousel-inner .emprender .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 85px;
		border-left-width: 20px;
		border-right-width: 20px;
	}

	#actividad .carousel-inner .taller .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 60px;
		border-left-width: 20px;
		border-right-width: 20px;
		bottom:0 ;
	}
}
